<ion-view hide-back-button="{{hideBackButton}}"  class="home" title="Bible in One Year">
    <div class="bar-calm">
        <ion-nav-buttons side="left">
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button ng-click="settingsMenu()" class="button button-icon icon ion-gear-b"></button>
            &nbsp;
        </ion-nav-buttons>
    </div>
    <ion-content class="has-header">
        <h4 ng-bind="welcome"></h4>
        <div class="welcome-image image text-center">
            <img src="resources/mike-and-andy.png">
        </div>
        <div class="card">
            <div ng-show="firstTime" class="item item-text-wrap">
                <p>Welcome to the Soul Survivor Bible in One Year and New Testament in One Year app! We're so excited that we're going to be getting stuck into God's word together. Each day we'll post two videos (one for the Bible in One Year readings and one for the New Testament in One Year readings) and whichever plan you've chosen to follow, we hope you find they help you understand and apply God's word. Keep in touch on social media and let us know how you're getting on!</p>
            </div>
            <div ng-show="!firstTime" class="item item-text-wrap">
                <p>Welcome back! It's great to see you. We hope you're enjoying reading through the Bible together and that you find today's Bible in One Year or New Testament in One Year video helpful. Don't forget to keep in touch on social media to let us know how you're getting on!​</p>
            </div>
        </div>

        <!--<div ng-show="!firstTime && showStats" class="list stats">

            <div class="item item-divider">
               Days completed
            </div>

            <span class="item text-center" ng-pluralize count="totalDays" when="{'1': '{} Day', 'other': '{} Days'}"></span>

            <div class="item item-divider">
                Current Streak
            </div>

            <span class="item text-center" ng-pluralize count="streak.current" when="{'1': '{} Day', 'other': '{} Days'}"></span>


            <div class="item item-divider">
                Best Streak
            </div>

            <span class="item text-center" ng-pluralize count="highscore" when="{'1': '{} Day', 'other': '{} Days'}"></span>


        </div>-->

    </ion-content>
    <div class="bar bar-footer bar-dark">
        <button ng-show="!isLoggedIn" class="button button-clear pull-left padding" ng-click="goLogin()">Login/Register</button>
        <button ng-show="isLoggedIn" class="button button-clear pull-left padding" ng-click="settings()">Personalise</button>
        <button class="button button-clear pull-right padding" ng-click="startReading()" >Get Started</button>
    </div>
</ion-view>
