<ion-view title="Search">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-light bar-subheader">
        <input type="search"
               placeholder="Filter contacts..."
               ng-model="search"
               ng-focus="searchFocused = true"
               ng-blur="searchFocused = false"
               ng-change="scrollTop()">
        <button ng-if="search.length"
                class="button button-icon ion-android-close input-button"
                ng-click="clearSearch()">
        </button>
    </ion-header-bar>
    <ion-content>
    <div class="list">
      <a class="item my-item"
        collection-repeat="item in getContacts()"
        collection-item-height="getItemHeight(item)"
        collection-item-width="getItemWidth(item)"
        ng-href="https://www.google.com/#q={{item.first_name + '+' + item.last_name}}"
        ng-style="{'line-height': getItemHeight(item) + 'px'}"
        ng-class="{'item-divider': item.isLetter}">
        <img ng-if="!item.isLetter" ng-src="http://placekitten.com/60/{{55 + ($index % 10)}}">
        {{item.letter || (item.month[0].value+' '+item.title[0].value)}}
      </a>
    </div>
  </ion-content>
</ion-view>